<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/home"
        icon="arrow-back-outline" 
        text="" 
        color="black">
      </ion-back-button>
    </ion-buttons>

    <ion-title>
      Contactanos
    </ion-title>

  </ion-toolbar>


</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <h1>Contactanos</h1>
  </div> 
  
  <div>
    <h3> Nuestros números de teléfono</h3>
    <ion-title>
      Whatsapp:
      + 569 76374848
      + 569 5863 0854
    </ion-title>
    <ion-title>
      Numero fijo:
      2 2345 2331
    </ion-title>
  </div>


</ion-content>
