ion-toolbar {
    background-color: var(--ion-color-mycolor);
  }

  @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Pacifico&display=swap');

  
  @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Pacifico&family=Playwrite+HR:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
  


  #titulo1{
    text-align: center;
    position: absolute;
    left: 190px;
    top: 10%;
  }

  #titulo2{
    text-align: center;
    position: absolute;
    left: 190px;
    top: 15%;
  }

  #boton1{
    text-align: center;
    position: absolute;
    left: 15px;
    
  }

  #boton2{
    text-align: center;
    position: absolute;
    left: 13px;
    top: 40%;
  }
