ion-toolbar {
    background-color: var(--ion-color-mycolor);
  }

  ion-title {
    font-size: 80px;
    font-family: 'Great vibes', cursive; /* Aplica la fuente 'Pacifico' */
    color: #87f6ba;
    padding-top: 30px; /* Ajusta el padding superior */
    margin-top: 50px; /* Ajusta este valor según necesites */
    text-align: center;
  }

  h1 {
    font-size: 40px;
    font-family: 'Roboto Condensed', cursive; /* Aplica la fuente 'Pacifico' */
    color: black;
    padding-top: 0px; /* Ajusta el padding superior */
    margin-top: 0px; /* Ajusta este valor según necesites */
    text-align: center;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente en el contenedor */
    align-items: center; /* Centra horizontalmente */
    height: 50%; /* Ocupa toda la altura disponible del contenedor */
  }
  
  .button-container ion-button {
    color: black; /* Texto negro */
    border: 2px solid black; /* Borde negro */
    width: 50%; /* Botones ocupan el 50% del ancho del contenedor */
    max-width: 300px; /* Ancho máximo opcional para limitar el tamaño */
    margin-bottom: 10px; /* Espaciado entre los botones */
    text-align: center; /* Asegura que el texto esté centrado */
  }