<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-back-button  
        icon="arrow-back-outline" 
        text="" 
        color="black"
        defaultHref="/home">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <form class="container">
    <ion-thumbnail>
      <img [src]="album.portada" alt="{{ album.nombre }} - Portada del Álbum">
    </ion-thumbnail>
    <ion-item>
      <ion-input label="Nombre Artista" labelPlacement="floating" [(ngModel)]="nombreArtista" name="artista"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input label="Nombre Álbum" labelPlacement="floating" [(ngModel)]="nombreAlbum" name="album"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input label="Precio Álbum" labelPlacement="floating" [(ngModel)]="precio" name="precio"></ion-input>
    </ion-item>
  
  </form>

  <ion-button (click)="validacion()">Modificar Álbum</ion-button>
</ion-content>
