<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/administracion"
        icon="arrow-back-outline" 
        text="" 
        color="black">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title size="large">Wonderland</ion-title>  
  <div><h1>Agregar Álbum</h1></div>
  
  <form class="container">
    <ion-item>
      <ion-input label="Nombre Artista" labelPlacement="floating" placeholder="" [(ngModel)]="nombreArtista" name="artista"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input label="Nombre Álbum" labelPlacement="floating" placeholder="" [(ngModel)]="nombreAlbum" name="album"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input label="Precio Álbum" labelPlacement="floating" placeholder="Precio" [(ngModel)]="precio" name="precio"></ion-input>
    </ion-item>

  
  </form>
  <ion-button (click)="validacion()">Añadir Álbum</ion-button>
</ion-content>